html, body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(https://cdn.elegantthemes.com/blog/wp-content/uploads/2013/09/bg-10-full.jpg);
}

span.active {
  background-color: gray;
}

#main-container {
  width: 450px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
}

.inner-wrapper {
  padding-bottom: 30px;
}

@media(max-width: 400px) {
  #main-container {
    width: 300px;
  }
}

nav {
  width: 200px;
}

h2, h3, p {
  padding-right: 20px;
  padding-left: 20px;
}

h1 {
  text-align: center;
  margin: 5px;
}

a:hover {
  margin-left: 2px;
  animation: swing 1s ease;
}

@keyframes swing {
  15% {
    transform: translateX(3px);
  }

  40% {
    transform: translateX(0);
  }

  70% {
    transform: translateX(1px);
  }

  100% {
    transform: translateX(0);
  }
}
