html, body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

span.active {
  background-color: gray;
}

#main-container {
  width: 450px;
  margin: 0 auto;
}

@media(max-width: 400px) {
  #main-container {
    width: 300px;
  }
}
