.board-container {
  padding-top: 30px;
}

.game-container {
  width: 300px;
  margin: 0 auto;
}

.board {
  display: flex;
  flex-wrap: wrap;
  border: 2px rgb(255, 117, 39) solid;
  width: 300px;
  height: 300px;
}

.tile {
  background-color: rgb(255, 126, 78);
  font-size: 25px;
  font-style: italic;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  border: 1px rgb(255, 164, 113) solid;
  box-sizing: border-box;
  display: flex;
}

.tile-value {
  margin: auto;
}

.empty.tile {
  background-color: #ffffff;
  cursor: default;
}

.correct-tile-position {
  background-color: rgb(112, 218, 9);
}

button {
  cursor: pointer;
}

.solved-board {
  pointer-events: none;
  opacity: 0.7;
  border: 2px rgb(112, 218, 9) solid;
}

.encouragement-content > img {
  padding-top: 10px;
  width: 300px;
}
