.board-container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.game-container {
  width: 300px;
  margin: 0 auto;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 300px;
}

.tile {
  box-sizing: border-box;
  display: flex;
}

  .tile:not(.empty) {
    background: linear-gradient(to bottom, rgba(255, 126, 78, 0.7) 0,rgba(255, 26, 8, 0.7) 100%);
    font-size: 25px;
    font-style: italic;
    color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 0 16px 2px rgba(0, 0, 0, 0.2) inset;
    text-shadow: 1px 1px 1px rgba(32, 32, 32, 0.47);
  }


@media (min-width: 700px) {
  .tile:not(.empty):hover {
    opacity: 0.8;
  }
}

.tile-value {
  margin: auto;
}

.tile.isMoving {
  opacity: 0.8;
}

.empty.tile {
  background-color: inherit;
}

.tile.correct-tile-position {
  background: linear-gradient(to bottom, rgba(112, 218, 9, 0.7) 0,rgba(7, 157, 0, 0.7) 100%);
}

.solved-board {
  pointer-events: none;
  opacity: 0.6;
}

.encouragement-content > img {
  padding-top: 10px;
  width: 300px;
}

.statistics-container {
  margin-top: 10px;
  margin-bottom: 10px;
  background: rgba(0, 0, 0, 0.05);
  box-shadow: 6px 6px 21px rgba(0, 0, 0, 0.2);
  font-size: 20px;
}
