<div class="game-container">
  <div class="statistics-container">
    <p> Number of steps: {{numberOfSteps}}.</p>
    <p> Manhattan distance: {{board.manhattanDistance}}.</p>

  </div>
  Select mode:
  <select [(ngModel)]="dimension" (change)="restartTheGame()">
    <option *ngFor="let dimension of dimensions" [ngValue]="dimension">{{dimension}}</option>
  </select>

  <span (click)="restartTheGame()" md-mini-fab>
    <md-icon>replay</md-icon>
  </span>

  <div *ngIf="encouragementImageUrl" class="encouragement-content">
    <img [src]="encouragementImageUrl" />
  </div>

  <div class="board-container">
    <div class="board"
         [class.solved-board]="isBoardHasSolvedState">
      <div class="tile"
           *ngFor="let tile of board.randomlyPositionedTiles"
           (click)="tryMoveTileToAnEmptyCell(tile)"
           [style.order]="getCellPositionNumber(tile)"
           [style.flex-basis.%]="tileflexBasis"
           [class.correct-tile-position]="isTileOnTheCorrectPlace(tile)">
        <span [@tileAnimation] class="tile-value"> {{tile.value}}</span>
      </div>
      <div class="tile empty"
           [style.order]="getCellPositionNumber(board.emptyCell)"
           [style.flex-basis.%]="tileflexBasis">
      </div>
    </div>
  </div>
</div>
