<div id="board-game">
  <div id="steps">
    Number of steps: {{numberOfSteps}}.
  </div>
  Select mode:
  <select [(ngModel)]="dimension" (change)="restartTheGame()">
    <option *ngFor="let dimension of dimensions" [ngValue]="dimension">{{dimension}}</option>
  </select>
  <button (click)="restartTheGame()">Restart the game</button>
  <div class="board-container">
    <div class="board"
         [class.solved-board]="isBoardHasSolvedState"
         [style.width.px]="boardSideSize"
         [style.height.px]="boardSideSize">
      <div class="tile"
           *ngFor="let tile of board.randomlyPositionedTiles"
           (click)="tryMoveTileToAnEmptyCell(tile)"
           [style.order]="getCellPositionNumber(tile)"
           [style.flex-basis.%]="tileflexBasis"
           [class.correct-tile-position]="isTileOnTheCorrectPlace(tile)">
        <span [@tileAnimation] class="tile-value"> {{tile.value}}</span>
      </div>
      <div class="tile empty"
           [style.order]="getCellPositionNumber(board.emptyCell)"
           [style.flex-basis.%]="tileflexBasis">
      </div>
    </div>
  </div>
</div>
